.center-block{
    float: none;
}
.btn-xs{
    font-size: 9px;
}
body{
    margin-top: 30px;
}
.name{
    display: block;
    margin:0 auto;
    width: 200px;
    text-align: center;
    border: 1px solid dodgerblue;
}
.table > tbody  {
    font-size: 10px;
}
.table > thead  {
    font-size: 10px;
}
.input-sm{
    padding: 1px 5px;
    font-size: 10px;
    height: 20px;
}